.mainContent {
	display: none;
}

.inner_title {
	height: 79px;
	border-bottom: 1px dashed #cecece;
	text-align: center;
}

.inner_title span {
	display: inline-block;
}

.chooseAnnual {
	float: left;
	margin-top: 22px;
	margin-left: 26px;
	font-size: 16px;
	padding: 8px 24px ;
	color: #fff;
	background-color: #7ab5ea;
	cursor:pointer;

}

.reportTitle {

}

.submitTime {
	float: right;
	line-height: 79px;
	color: #a7a7a7;
	font-size: 15px;
	margin-right: 25px;
}

.span_annual {
	font-size: 32px;
	color: #4596e2;
	margin-top: 18px;
}

.modify {
	font-size: 11px;
	padding: 3px 6px;
	background-color: #f13735;
	color: #fff;
	position: absolute;
	margin-top: 30px;
	margin-left: 10px;
}


.arrow2::after, .arrow2::before {
    border-bottom-colors: none;
    border-left-colors: none;
    border-right-colors: none;
    border-top-colors: none;
    border-color: #fff transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 8px 8px 0;
    content: " ";
    display: block;
    font-size: 0 ;
    height: 0 ;
    line-height: 0 ;
    padding: 0 ;
    width: 0 ;
}

.arrow2::after {
    border-top-color:#7AB5EA;
    border-width: 6px 6px 0;
    bottom: 2px;
    left: 2px;
    position: absolute;
}

.arrow2 {
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: -1px;
    transition: transform 0.36s ease-in 0s;
    vertical-align: middle;
    float: right;
    margin-top: 10px;
    background-image: none;
    cursor: pointer;
}

#annualReport p{
	text-align: center;
	font-size: 13px;
	color: #ed1d4a;
	padding: 13px;
}



div[class^="annual"] {
	/*padding-bottom: 30px;*/
}

.annual_primary .item {
    font-weight: normal;
}

.arrowhead {
	position:absolute;
	margin-right: 20px;
	width:1.5em;
	height:1.5em;
	margin:30% auto;
	
	border:solid 0.25em #2c2c2c;
    font-size: 12px;
    border-right: none;
    border-bottom: none;
    -moz-transform: rotate(45deg);
}

.arrowhead:before {
	display:block;
	content:"";
	position:absolute;
	top: 2px;
	left: 1px;
	width:6px;
	height:0.3em;
	background: #2c2c2c;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
