.mainform2 {
	display: none;
}

.detailsOops2 {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -470px \9;
    margin-top: -200px \9;
    padding: 0 20px 20px;
    position: fixed;
    width: 950px;
    z-index: 100;
}

.detailsOops3 {
	background: #fff none repeat;
	overflow-x: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -170px \9;
    margin-top: -400px \9;
    padding: 0 20px 20px;
    position: fixed;
    /*width: 350px;*/
    z-index: 100;
}


#subcribe_info{
	display: none;
	position: absolute;
	z-index:1002;  
	overflow: auto;
	position:fixed;
	left:50%;
	top:50%;
}
#subcribe_info2{
	display: none;
	position: absolute;
	z-index:402;  
	overflow: auto;
	position:fixed;
	left:50%;
	top:50%;
}

.closeOops2 img{
	width:20px;
	height: 20px;
	padding: 5px;
	position: absolute;
    top: 10px;
    right: 20px;
}

.closeOops3 img{
	width:20px;
	height: 20px;
	padding: 5px;
	position: absolute;
    top: 10px;
    right: 20px;
}

.table_inspect_head {
	font-family:"寰蒋闆呴粦 Bold", "寰蒋闆呴粦";
	font-weight:700;
	font-style:normal;
	font-size:14px;
	color:#0f4f8f;
	text-align:center;
}

.inspect{
	width: 980px;
	margin: 40px auto 0;
	border: 1px solid #E9E9E9;
	border-collapse: collapse;
}

.contentfordetail{
	background-color: #FFF;
	min-height: 489px;
	padding-top: 70px;
	padding-bottom: 55px;
	border-radius: 4px;
	box-shadow: 0px 1px 1px #ccc;
}

.noticeColumns tr{
	height: 43px;
}

.noticeColumns{
	color: #333;
	font-family:"Microsoft YaHei UI Regular", "Microsoft YaHei UI";
	font-weight:400;
	font-style:normal;
    font-size: 14px;
}

.mainContent2{
	margin: 22px auto;
	width: 1134px;
	min-height: 630px;
	border: 1px solid #efefef;
	/*background-color: teal;*/
	/*鏈€浣庨珮搴﹀簲璇ヤ负100%-澶村拰灏剧殑楂�*/
}

.page2 {
	padding-bottom: 75px;
}

#bg3{ 
	display: none;  
	position: fixed;  
	top: 0%;  left: 0%;  
	width: 100%;  
	height: 100%;  
	background-color: black;  
	z-index:1001;  
	-moz-opacity: 0.7;  
	opacity:.70;  
	filter: alpha(opacity=70);
}

.abc{
    width: 155px;
    line-height:5px;
}
/*
.navbar{
	width: 270px;
	font-size: 14px;
	color: #fbfbfb;
	width: 100%;
	box-sizing: border-box;
	line-height: 38px;
	/*text-align: center;*/
	background-color:#ab812d;
	/*border-top: 1px solid #14589a;*/
	/*border-bottom: 1px solid #06447d;*/
	text-indent: 30px;
	cursor: pointer;
}

.navbar.active {
	background-color:#ae1c1c;
}
.navbar:hover {
	background-color:#ae1c1c;
}

.page_left{
	float: left;
	width: 210px;
	border-radius: 6px 6px 0 0;
	overflow: hidden;
	margin-bottom: 20px;
}

.page_left img{
	border:none;
}
.page_left a {
	text-decoration: none;
}
*/